body{
    padding: 0;
    margin:0;
    background-color: #efefef;
}

.wld-container{
    position: relative;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

.wld-paper-pm{
    padding:20px;
    margin:20px;
}

@media (max-width: 640px){
    body{
        background-color: #fff;
    }

    .wld-container{
        max-width: 100%;

    }
}

@media (max-width: 480px){
    .wld-paper-pm{
        padding:10px;
        margin:10px;
    }
}


